<h2>Audio Player: <span id="sm_status">Not Ready</span></h2>
<div>
  <h3>SC Playing: <span id="sc_title">Nothing</span></h3>
  <h4>Progress: <span id="sc_progress"></span>, Duration: <span id="sc_duration"></span></h4>
  <button class="btn btn-success" id="sc_start">Start SC</button>
  <button class="btn btn-danger" id="sc_stop">Stop SC</button>
  <button class="btn btn-info" id="sc_next">Next</button>
</div>
{{!-- <div>
  <h3>YT Playing: <span id="yt_title">Nothing</span></h3>
  <div><div id="yt_player"></div></div>
  <button class="btn btn-success" id="yt_start">Start YT</button>
  <button class="btn btn-danger" id="yt_stop">Stop YT</button>
  <button class="btn btn-info" id="yt_next">Next</button>
</div> --}}