<h2>Sound Manager: <span id="sm_status">Not Ready</span></h2>
<div>
  <h3>SC Playing: <span id="sc_title">Nothing</span></h3>
  <button class="btn btn-success" id="sc_start">Start SC</button>
  <button class="btn btn-danger" id="sc_stop">Stop SC</button>
  <button class="btn btn-info" id="sc_next">Next</button>
</div>