{{#if artists.length}}
  <div class="panel-group" id="artistGroup">
  {{#each artists}}
    {{> artist this}}
  {{/each}}
  </div>
  <script>
    $('#artistGroup').collapse({
      toggle: false
    });

    $('#artistGroup').on('show.bs.collapse', function (e) {
      console.log(e);
    });

    $('.btnArtistLinkInput').click(function() {
      var artistId = $(this).attr('artistId');
      $.ajax({
        url: '/AddLink',
        type: 'POST',
        data: {
          link: $('.artistLinkInput[artistId="' + artistId + '"]').val(),
          artistId: artistId
        },
        success: function (response) {
          
        }
      });
    });
  </script>
{{else}}
<h3>No Artists Loaded</h3>
{{/if}}